* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

.section {
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#logo img {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  size: cover;
}

.tela2 {
  display: block;
  text-align: center;
}

.text {
  font-family: Montserrat;
  color: #fff;
  margin: 2rem 0;
}

form p {
  margin-bottom: 1rem;
}

.form {
  display: block;
  background: #fff;
  border-radius: 1rem;
  width: 20rem;
  margin: 0 auto;
  padding: 1.5rem;
}

input {
  width: 100%;
  height: 30px;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 1rem;
  background: #000;
  color: #fff;
  outline-style: none;
}

.button {
  color: #000;
  background: rgb(255, 155, 0);
  height: 3.5rem;
  width: 10rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 5rem;
  border-style: none;
  font: 500 1rem 'Raleway', sans-serif;
  transition: background 0.3s;
}

.button:hover {
  background: rgb(237, 120, 25);
}

.produtos {
  margin-top: 2rem;
}

.produtos img {
  height: 330px;
  width: 500px;
}

.socials {
  text-align: center;
  position: relative;
}

.socials i {
  position: relative;
  margin: 0 2rem;
  font-size: 2rem;
}

.foot {
  width: 100vw;
  background-color: #fff;
  text-align: center;
}

.foot p {
  font-family: Montserrat;
  margin: 1rem 0;
}

.foot a {
  color: #000;
  font-family: Montserrat;
  text-decoration: underline;
  text-shadow: none;
  margin-right: 2rem;
}
